@keyframes slideUp {
  from {
    bottom: -20%;
  }
  to {
    bottom: 0;
  }
}
.formkolo button:hover, .formkolo button:focus {
  background-color: rgb(26, 18, 142); 
  color: #fff;
}

.ids {
  font-weight: bold ;
  position: fixed;
  bottom: -20%; 
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(180, 174, 174); 
  animation: slideUp 2s forwards; 
  opacity: 0.4;
  text-align: center;
}
.info{
  color: #000;
  position: relative;
  
}
.head{
  padding-top: 5%;
  width: 10%;
    margin: auto;
    display: flex;
    font-family: system-ui;
}
.formkolo{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat ', sans-serif; 
    color: #000000;
    margin-bottom: 20px;
    top: 50%;
    right: 30%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    background: rgba(255, 255, 255, 0.6); 
    padding: 20px; 
    border-radius: 9px;
}
.formkolo label{
  margin-top: 10px;
  margin-bottom: 3px;
}
.formkolo button{
  color: rgb(255, 255, 255);
  background-color: rgb(30, 0, 255);
}
.aloo{
    font-family: 'Montserrat ', sans-serif; 
    color: #09b13b;
}

  
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
  
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;    
  }

  
  #background1 {
    background-image: url('/res/wallpaperflare.com_wallpaper\ \(1\).jpg');
  }
input,select,button{
  padding: 10px;
  margin-top: 3px;
  width: 100%;
  box-sizing: border-box;
    background-color: rgba(208, 197, 197, 0.5); 
    border: 1px solid rgba(53, 50, 50, 0.5); 
    color: #7c5959; 
    border-radius: 4px;
}

.image {
  height: 10%;
  width: 10%;
  top: 1%;
  left: -2%;
  position: absolute;
  transition: 1s;
}
.image:hover img {
  transform:scale(1.3);
  z-index: 3 ;
}