* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    background: linear-gradient(to top, #101010, #202020, #101010);
  }
  
  .vid video {
    object-fit: cover;
    position: relative;
    width: 94.9vw;
    height: 100vh;
    z-index: -1;
    background-color: transparent;
    left: 60px;
  }

  .sec2 {
    margin-top: 50px;
  }
  
  .sec2 h1 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  
  .latest {
    margin: 0;
    padding: 130px 10%;
    padding-bottom: 80px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    transition: .2s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .latest .sel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    background: #fff;
    text-align: center;
    padding: 50px 20px;
    transition: .3s;
  }
  
  .latest .sel h3 {
    margin-top: -20px;
    font-size: 25px;
    color: #444;
  }
  
  .latest .sel img {
    height: 60%;
    width: 70%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .latest .sel p {
    margin-bottom: 20px;
    color: #444;
  }
  
  .latest .sel .readmore {
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 25px;
    margin-bottom: -20px;
    transition: .3s;
  }
  
  .latest .sel .readmore:hover {
    letter-spacing: 1px;
  }
  
  .latest .sel:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
    cursor: pointer;
  }
  