.product-component {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    background: #fff;
    text-align: center;
    padding: 50px 20px;
    transition: .3s;
}

.product-component h3 {
    margin-top: -20px;
    font-size: 25px;
    color: #444;
}

.product-component img {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.product-component p {
    margin-bottom: 10px;
    color: #444;
}

.product-component:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
    cursor: pointer;
}

.product-component button {
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 25px;
    margin-bottom: -20px;
    transition: .3s;
}

.product-component button:hover {
    cursor: pointer;
    letter-spacing: 1px;
}